{% block myfav_craft_import_article %}
    <sw-page class="myfav-craft-import-article">
        <template #content>
            <sw-card class="myfav-craft-import-main-card" positionIdentifier="myfavCraftImportArticleSearchCard">
                <div class="myfav-craft-import-search-container">
                    <div class="col-search-term">
                        <sw-text-field
                            :disabled="searchDisabled"
                            :label="$t('myfav-craft-import.article.inputTextSearchTerm')"
                            @keydown.enter="searchForSearchTerm"
                            :placeholder="$t('myfav-craft-import.article.inputTextSearchTerm')"
                            v-model="searchTerm"
                        />
                    </div>
                    <div class="col-search">
                        <sw-button
                            @click="searchForSearchTerm"
                            :disabled="searchDisabled"
                            size="large"
                            variant="primary"
                        >
                            {{ $t('myfav-craft-import.article.btnSearchForArticle') }}
                        </sw-button>
                    </div>
                </div>
            </sw-card>

            <sw-card class="myfav-craft-import-main-card" positionIdentifier="myfavCraftImportArticleSearchResult">
                <div class="myfav-craft-import-search-result-container">
                    <div v-if="searchResultObject == null" class="myfav-craft-import-search-container-no-results">
                        {{ $t('myfav-craft-import.article.infoStartNewSearch') }}
                    </div>
                    <div v-else class="myfav-craft-import-search-container-results">
                        <h1>Suchergebnis</h1>
                        <table class="myfav-craft-search-result" v-if="searchResultObject?.data?.productSearch?.result">
                            <tr 
                                class="entry"
                                @click="onShowArticleDetailModal(item)"
                                v-for="item in searchResultObject.data.productSearch.result"
                            >
                                <td>
                                    <img :src="item.pictures[0].imageUrl" class="img-responsive myfav-craft-search-result-image" />
                                </td>
                                <td>
                                    {{ item.productNumber }}
                                </td>
                                <td>
                                    {{ item.productName }}
                                    <span v-if="item.variations.length > 0" class="myfav-craft-import-variation-count">
                                        {{ item.variations.length }}
                                        <span v-if="item.variations.length == 1">Variante</span>
                                        <span v-else>Varianten</span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </sw-card>

            <sw-card class="myfav-craft-import-debug" positionIdentifier="myfavCraftImportDebug" v-if="debugMode == true">
                <b>Debug-Ausgabe:</b><br />
                <pre v-html="getSearchResultAsString()"></pre>
            </sw-card>

            <sw-modal 
                class="gigx-return-management-generate-labels-modal"
                selector="body"
                v-if="showArticleDetailModal"
                @modal-close="onCloseArticleDetailModal"
                title="Artikel bearbeiten"
            size="1600px">
                <template #modal-title>
                    <div style="display: flex; align-items: center;">
                        <h4 id="modalTitleEl" class="sw-modal__title">Artikel bearbeiten</h4>
                    </div>
                </template>

                <div class="myfav-craft-import-article-selector">
                    <sw-switch-field
                        label="Datenübernahme für diesen Artikel aktivieren"
                        :value="shopwareProductSettings.updateProductFromCraftApi"
                    ></sw-switch-field>

                    <table class="myfav-craft-import-article-selector-table">
                        <thead>
                            <tr>
                                <th class="myfav-craft-import-article-col-override-title"><span class="myfav-cut-title" title="Überschreiben">Überschreiben</span></th>
                                <th>Eigenschaft</th>
                                <th>Neuer Wert</th>
                                <th>Übergeben von Craft</th>
                            </tr>
                        </thead>

                        {# Artikelnummer #}
                        <tr>
                            <td class="myfav-craft-import-article-col-override">
                                <sw-switch-field
                                    :value="shopwareProductSettings.updateProductNumber"
                                    @change="shopwareProductSettings.updateProductNumber = $event"
                                ></sw-switch-field>
                            </td>
                            <td  class="myfav-craft-import-article-col-fieldname">Artikel-Nr.</td>
                            <td  class="myfav-craft-import-article-col-custom-value">
                                <sw-text-field
                                    :disabled="!shopwareProductSettings.updateProductNumber"
                                    v-model="shopwareProductSettings.customProductNumber"
                                ></sw-text-field>
                            </td>
                            <td class="myfav-craft-import-article-col-original-value">
                                {{ selectedSearchResult.productNumber }}
                            </td>
                        </tr>

                        {# Artikelname #}
                        <tr>
                            <td class="myfav-craft-import-article-col-override">
                                <sw-switch-field
                                    :value="shopwareProductSettings.updateProductName"
                                    @change="shopwareProductSettings.updateProductName = $event"
                                ></sw-switch-field>
                            </td>
                            <td  class="myfav-craft-import-article-col-fieldname">Artikelname</td>
                            <td  class="myfav-craft-import-article-col-custom-value">
                                <sw-text-field
                                    :disabled="!shopwareProductSettings.updateProductName"
                                    v-model="shopwareProductSettings.customProductName"
                                ></sw-text-field>
                            </td>
                            <td class="myfav-craft-import-article-col-original-value">
                                {{ selectedSearchResult.productName }}
                            </td>
                        </tr>

                        {# Artikel-Beschreibung #}
                        <tr>
                            <td class="myfav-craft-import-article-col-override">
                                <sw-switch-field
                                    :value="shopwareProductSettings.updateProductDescription"
                                    @change="shopwareProductSettings.updateProductDescription = $event"
                                ></sw-switch-field>
                            </td>
                            <td  class="myfav-craft-import-article-col-fieldname">Beschreibung</td>
                            <td  class="myfav-craft-import-article-col-custom-value">
                                <sw-textarea-field
                                    :disabled="!shopwareProductSettings.updateProductDescription"
                                    :multiline="true"
                                    v-model="shopwareProductSettings.customProductDescription"
                                ></sw-textarea-field>
                            </td>
                            <td class="myfav-craft-import-article-col-original-value">
                                {{ selectedSearchResult.productText }}
                            </td>
                        </tr>

                        {# Steuer-Einstellung #}
                        <tr>
                            <td class="myfav-craft-import-article-col-override">
                                <sw-switch-field
                                    :value="shopwareProductSettings.updateTaxId"
                                    @change="shopwareProductSettings.updateTaxId = $event"
                                ></sw-switch-field>
                            </td>
                            <td  class="myfav-craft-import-article-col-fieldname">Steuersatz</td>
                            <td  class="myfav-craft-import-article-col-custom-value">
                                <sw-entity-single-select
                                    :disabled="!shopwareProductSettings.updateTaxId"
                                    entity="tax"
                                    v-model="shopwareProductSettings.customTaxId"
                                    @change="selectTaxRate"
                                ></sw-entity-single-select>
                            </td>
                            <td class="myfav-craft-import-article-col-original-value">&nbsp;</td>
                        </tr>

                        {# Kategorie-Zuweisung #}
                        <tr>
                            <td class="myfav-craft-import-article-col-override">
                                <sw-switch-field
                                    :value="shopwareProductSettings.updateProductCategories"
                                    @change="shopwareProductSettings.updateProductCategories = $event"
                                ></sw-switch-field>
                            </td>
                            <td  class="myfav-craft-import-article-col-fieldname">Kategorie</td>
                            <td  class="myfav-craft-import-article-col-custom-value">
                                <sw-category-tree-field
                                    :categories-collection="categoryCollection"
                                    :criteria="categoryCriteria"
                                    :disabled="!shopwareProductSettings.updateProductCategories"
                                    placeholder=""
                                ></sw-category-tree-field>
                            </td>
                            <td class="myfav-craft-import-article-col-original-value">
                                <ul v-if="selectedSearchResult.productCategory.length > 0" class="myfav-craft-ul-li-list">
                                    <li v-for="craftCategory in selectedSearchResult.productCategory">{{ craftCategory.value }}</li>
                                </ul>
                            </td>
                        </tr>

                        {# Custom-Field for productFabrics #}
                        <tr>
                            <td class="myfav-craft-import-article-col-override">
                                <sw-switch-field
                                    @change="shopwareProductSettings.updateProductCustomFieldForFabrics = $event"
                                    :value="shopwareProductSettings.updateProductCustomFieldForFabrics"
                                    v-if="productCustomFieldForFabrics !== null && productCustomFieldForFabrics != ''"
                                ></sw-switch-field>
                            </td>
                            <td  class="myfav-craft-import-article-col-fieldname">Material/Fabrics</td>
                            <td  class="myfav-craft-import-article-col-custom-value">
                                <sw-text-field
                                    :disabled="!shopwareProductSettings.updateProductCustomFieldForFabrics"
                                    v-if="productCustomFieldForFabrics !== null && productCustomFieldForFabrics != ''"
                                    v-model="shopwareProductSettings.customProductCustomFieldForFabrics"
                                ></sw-text-field>
                                <div v-else class="myfav-craft-warning-text">
                                    Es wurde in der Plugin-Konfiguration kein Custom-Feld für dieses Feld ausgewählt. Das Feld wird beim Import ignoriert.
                                    Eine Prüfung ist empfohlen. Es handelt sich hierbei um die Information über das Material des Artikels, die aus rechtlichen Gründen ggf.
                                    angegeben werden muss.
                                </div>
                            </td>
                            <td class="myfav-craft-import-article-col-original-value">
                                {{ selectedSearchResult.productFabrics }}
                            </td>
                        </tr>

                        {# ProductFeatures: Eigenschaften/Besonderheiten #}
                        <tr>
                            <td class="myfav-craft-import-article-col-override">
                                <sw-switch-field
                                    :value="shopwareProductSettings.updateProductFeatures"
                                    @change="shopwareProductSettings.updateProductFeatures = $event"
                                    v-if="propertyIdForProductFeature !== null && propertyIdForProductFeature !== ''"
                                ></sw-switch-field>
                            </td>
                            <td  class="myfav-craft-import-article-col-fieldname">Produkt-Features</td>
                            <td  class="myfav-craft-import-article-col-custom-value">
                                <div v-if="propertyIdForProductFeature !== null && propertyIdForProductFeature !== ''">
                                    <sw-textarea-field
                                        :disabled="!shopwareProductSettings.updateProductFeatures"
                                        :multiline="true"
                                        v-model="shopwareProductSettings.customProductFeatures"
                                    ></sw-textarea-field>
                                    <small>(Mehrere Features können angegeben werden. Jede Zeile ist ein Feature.)</small>
                                </div>
                                <div v-else class="myfav-craft-warning-text">
                                    PropertyID in Plugin-Konfiguration ist nicht gesetzt.
                                </div>
                            </td>
                            <td class="myfav-craft-import-article-col-original-value">
                                <ul v-if="selectedSearchResult.productFeature != null && selectedSearchResult.productFeature.length > 0" class="myfav-craft-ul-li-list">
                                    <li v-for="productFeature in selectedSearchResult.productFeature">{{ productFeature.value }}</li>
                                </ul>
                            </td>
                        </tr>

                        {# ProductFit #}
                        <tr>
                            <td class="myfav-craft-import-article-col-override">
                                <sw-switch-field
                                    :value="shopwareProductSettings.updateProductFit"
                                    @change="shopwareProductSettings.updateProductFit = $event"
                                    v-if="propertyIdForProductFit !== null && propertyIdForProductFit != ''"
                                ></sw-switch-field>
                            </td>
                            <td  class="myfav-craft-import-article-col-fieldname">Produkt-Passform</td>
                            <td  class="myfav-craft-import-article-col-custom-value">
                                <sw-text-field
                                    :disabled="!shopwareProductSettings.updateProductFit"
                                    v-model="shopwareProductSettings.customProductFit"
                                    v-if="propertyIdForProductFit !== null && propertyIdForProductFit != ''"
                                ></sw-text-field>
                                <div v-else class="myfav-craft-warning-text">
                                    PropertyID in Plugin-Konfiguration ist nicht gesetzt.
                                </div>
                            </td>
                            <td class="myfav-craft-import-article-col-original-value">
                                <ul v-if="selectedSearchResult.productFit != null && selectedSearchResult.productFit.length > 0" class="myfav-craft-ul-li-list">
                                    <li v-for="productFit in selectedSearchResult.productFit">{{ productFit.value }}</li>
                                </ul>
                            </td>
                        </tr>

                        {# ProductGender #}
                        <tr>
                            <td class="myfav-craft-import-article-col-override">
                                <sw-switch-field
                                    :value="shopwareProductSettings.updateProductGender"
                                    @change="shopwareProductSettings.updateProductGender = $event"
                                    v-if="propertyIdForProductGender !== null && propertyIdForProductGender != ''"
                                ></sw-switch-field>
                            </td>
                            <td  class="myfav-craft-import-article-col-fieldname">Produkt-Gender</td>
                            <td  class="myfav-craft-import-article-col-custom-value">
                                <sw-text-field
                                    :disabled="!shopwareProductSettings.updateProductGender"
                                    v-model="shopwareProductSettings.customProductGender"
                                    v-if="propertyIdForProductGender !== null && propertyIdForProductGender != ''"
                                ></sw-text-field>
                                <div v-else class="myfav-craft-warning-text">
                                    PropertyID in Plugin-Konfiguration ist nicht gesetzt.
                                </div>
                            </td>
                            <td class="myfav-craft-import-article-col-original-value">
                                <ul v-if="selectedSearchResult.productGender != null && selectedSearchResult.productGender.length > 0" class="myfav-craft-ul-li-list">
                                    <li v-for="productGender in selectedSearchResult.productGender">{{ productGender.value }}</li>
                                </ul>
                            </td>
                        </tr>

                        {# ProductBrand #}
                        <tr>
                            <td class="myfav-craft-import-article-col-override">
                                <sw-switch-field
                                    :value="shopwareProductSettings.updateProductBrandId"
                                    @change="shopwareProductSettings.updateProductBrandId = $event"
                                ></sw-switch-field>
                            </td>
                            <td  class="myfav-craft-import-article-col-fieldname">Hersteller/Marke</td>
                            <td  class="myfav-craft-import-article-col-custom-value">
                                <sw-entity-single-select
                                    :disabled="!shopwareProductSettings.updateProductBrandId"
                                    entity="product_manufacturer"
                                    v-model="shopwareProductSettings.customProductBrandId"
                                    @change="selectProductBrandId"
                                ></sw-entity-single-select>
                            </td>
                            <td>
                                {{ selectedSearchResult.productBrand }}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="myfav-craft-variations">
                    <div v-for="variation in selectedSearchResult.variations" class="myfav-craft-variation">
                        <div class="myfav-craft-variation-title">{{ variation.itemColorName }}</div>
                        <div class="myfav-craft-variation-skus">
                            <div v-for="variationSku in variation.skus" class="myfav-craft-variation-sku">
                                <sw-switch-field
                                    {# :value="shopwareProductSettings.updateProductBrandId" #}
                                    {# @change="shopwareProductSettings.updateProductBrandId = $event" #}
                                    :value="variationSku.myfavCraftSettings.activated"
                                ></sw-switch-field>

                                <div>{{ variationSku.skuSize.webtext }}</div>
                                <div>{{ variationSku.description }}</div>
                                <div>{{ variationSku.skucolor }}</div>
                                <div>{{ variationSku.retailPrice.price }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <template #modal-footer>
                    <sw-button
                        @click="onCloseArticleDetailModal"
                        size="large">
                        Abbrechen
                    </sw-button>

                    <sw-button
                        size="large">
                        Speichern
                    </sw-button>

                    <sw-button
                        size="large"
                        variant="primary">
                        Speichern &amp; Synchronisieren
                    </sw-button>
                </template>
            </sw-modal>
        </template>
    </sw-page>
{% endblock %}